* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  
  nav {
  overflow: hidden;
  }
  
  nav li {
  float: left;
  width: 50%;
  list-style-type: none;
  }
  
  .MessageBox {
  width: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  }
  
  .MessageBox table {
  width: 100%;
  }